<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
    <table>
        <tr>
            <th>uuid</th>
            <th>ID</th>
            <th>password</th>
            <th>name</th>
            <th>email</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <% user.forEach(function (value) {%>
            <tr>
                <td style="width: 350px"><%= value.uuid %></td>
                <td style="width: 100px"><%= value.user_id %></td>
                <td style="width: 100px"><%= value.password %></td>
                <td style="width: 100px"><%= value.user_name %></td>
                <td style="width: 100px"><%= value.email %></td>
                <td><a href="/edit/<%= value.user_id %>">수정</a></td>
                <td><a href="/delete/<%= value.user_id %>">삭제</a></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>